<!-- <app-progress *ngIf="loading" /> -->


<div *ngIf="!loading" class="container">
  <header>
    <h4>Listado de medicamentos</h4>
    <button type="button" class="btn btn-primary" routerLink="/add">Añadir medicamento</button>
  </header>
    <table *ngIf="listMedicamentos.length > 0"  class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre del medicamento</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listMedicamentos" class="table-active">
        <td>{{item.nombre}}

          <div class="botones">
            <button type="button" class="btn btn-secondary btn-sm" routerLink="/edit/{{item.id}}">Editar&nbsp;<i class="bi bi-pencil-square"></i></button>
            <button type="button" (click)="deleteMedicamento(item.id!)" class="btn btn-danger btn-sm ms-2">Borrar &nbsp;<i class="bi bi-trash2-fill"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listMedicamentos.length == 0">No hay medicamentos para mostrar</h5>

</div>

